.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  justify-content: center;
}
#description {
  width: 95%;
  text-align: left;
}
#bottomHalf {
  margin-top: 2%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.inputBox {
  width: 20vw;
  height: 25px;
  border-radius: 5px;
}
.goButton {
  width: 6vw;
  height: 30px;
  background-color: purple;
  color: white;
  margin-left: 5px;
  border-radius: 5px;
}

.console p{
  text-align: center;
}
.displays {
  display: flex;
}
.displaySpacer {
  width: 50vw;
}
.console {
  background-color: lightgrey;
  width: 27vw;
  margin: 0 auto;
  border: 1px solid black;
  line-height: 0px;
  padding: 0px;
  margin-top: 10px;
}

.error {
  background-color: lightgrey;
  width: 25vw;
  margin: 0 auto;
  border: 1px solid black;
  line-height: 0px;
  padding: 0px;
  margin-top: 10px;
}

.square{
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
#board{
  display: flex;
}